import os

# Search date
search_date = '2018-03'

# Default portal do RH URL
portal_rh = 'https://www.portaldorh.com.br/portal_rckt/Auto_Principal.aspx'

# Default download path
default_download_path = os.path.realpath(os.path.dirname(os.path.abspath(__file__)) + '/../../downloads')

# Ensure downloads path exists
if os.path.exists(default_download_path) is False:
    os.makedirs(default_download_path)

# Use headless?
headless = False
